# Introduction to Python

In [3]:
print("hello")

hello

In [1]:
print(5/11)

0.45454545454545453

In [2]:
print(5+11)

16

In [5]:
print("addition is:" + str(5+11))

addition is:16

In [6]:
# this is a comment

In [7]:
#exponent
print(4 ** 3)

64

In [8]:
# modulo
18 % 7

4

## Variable and Types

In [10]:
# create a variable
savings = 100

# print the variable
print(savings)

100

In [11]:
# Strings
s1 = "hello"
s2 = 'world'

print(s1)
print(s2)

hello
world

In [40]:
print(s1 * 5)

hellohellohellohellohello

In [16]:
# variable types helps us track the behavior of variables
print(s1+s2)

helloworld

In [17]:
type(s1 + s2)

str

In [71]:
x1 = 5 ; y1 =10

In [72]:
print(x1+y1)

15

In [18]:
type(x1+y1)

int

In [19]:
type(1.0)

float

In [22]:
1e4

10000.0

In [23]:
type(1e4)

float

In [24]:
# boolean types
will_snehal_marry_me = True
print(will_snehal_marry_me)
print(type(will_snehal_marry_me))

True
<class 'bool'>

In [25]:
# one more
will_i_stop_doing_yoga = False
print(will_i_stop_doing_yoga)

False

In [26]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [76]:
# Definition of pi_string
pi_string = "3.1415926"


# Convert pi_string into float: pi_float
pi_float = float(pi_string)

In [32]:
# print the types of string and float types
print(type(pi_string))
print(type(pi_float))

<class 'str'>
<class 'float'>

In [35]:
True + False

1

In [36]:
True * False

0

## Python Lists

In Data Science, we have many data points. Hence, when we collect data, we can use Python List to store the data.

List elements can be of same types or different types. List elements can also be of type List.

In [38]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall,kit,liv,bed,bath]

# Print areas
print(areas)
print(type(areas))

[11.25, 18.0, 20.0, 10.75, 9.5]
<class 'list'>

In [39]:
# Add different types

# Adapt list areas
areas = ["hallway",hall,"kitchen", kit, "living room", liv, "bedroom",bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [41]:
# List of Lists
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom",bed],
         ["bathroom",bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

## Subsetting Lists 

Index starts with 0. Its called 0 indexing.

List slicing can be done using semi-colon operator.

[start : end] is used to pick elements from list. start is inclusive and end is exclusive

Last element can be accessed using index -1

In [42]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

In [43]:
#### Slicing the list

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:6]

# Use slicing to create upstairs
upstairs = areas[6:10]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [44]:
len(areas)

10

In [47]:
# alternate slicing
print(areas[:6])
print(areas[6:])

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

## Manipulating Lists

When a NEW list is created, you stored the address of the list in the variable and not the actual elements in the list.

Adding 2 lists will simply merge the lists one after the other.

In [48]:
# create a list x
x = [1,2,3]

In [49]:
# assign x to y
y = x

In [50]:
print(x)
print(y)

[1, 2, 3]
[1, 2, 3]

In [51]:
# now change an element in y
y[1] = 22

# now print y
print(y)

# also print x
print(x)

[1, 22, 3]
[1, 22, 3]

In [52]:
# if you want to make a copy of the list, use below code
y_copy = list(y)
print(y_copy)

[1, 22, 3]

In [56]:
# now alter element of y_copy
y_copy[2] = 33

# print y_copy
print(y_copy) # this changes the element in y_copy

# print y
print(y) # this remains unchanged

[1, 22, 33]
[1, 22, 3]

In [58]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]
print("original areas :: " + str(areas))

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse",24.5]
print("area 1 :: " + str(areas_1))

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage",15.45]
print("area 2 :: " + str(areas_2))

original areas :: ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
area 1 :: ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
area 2 :: ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [59]:
# to delete an element in list, use del function
x = [ 1, 2, 3]
print(x)

del(x[2])

print(x)

[1, 2, 3]
[1, 2]

In [78]:
# delete multiple elements
x = [1,2,3,4]
print(x)

del(x[1:2]) # remember the start is inclusive and end is exclusive :-P
# del(x[0],x[1])

print(x)

[1, 2, 3, 4]
[1, 3, 4]

In [79]:
# append a value to the list
x = [1,2,3]
print(x)

# pick a new element
new_element = 4

# append the element to the list
x.append(new_element) # this returns None , does not return a new list, modifies old list

# now print the list again
print(x)

[1, 2, 3]
[1, 2, 3, 4]

In [80]:
x.insert(1,"snehal")

In [81]:
x

[1, 'snehal', 2, 3, 4]

In [82]:
x.pop(1)

'snehal'

In [83]:
x

[1, 2, 3, 4]