# map() function

map() is a function which applies a function to each item in an iterable (list, tuple etc.)

syntax of map is --> map(function, iterable, ...)

It returns a list of results. This results can then be passed to list() or set() functions to create different Python objects from it.

In [93]:
def calculateSquare(n):
    return n*n

In [94]:
# bunch of numbers in a list
numbers = [1, 2, 3, 4]

print(numbers)
print(type(numbers))

[1, 2, 3, 4]
<class 'list'>

In [95]:
# apply map() function so that our custom function is applied to each element in the list
result = map(calculateSquare, numbers)
print(result)
print(type(result))

result_list = list(result)
print(result_list)

<map object at 0x106721c88>
<class 'map'>
[1, 4, 9, 16]

In [82]:
# what if i tried using the function over a list of strings ?
string_list = ['a','b','c','d']
print(list(map(calculateSquare, string_list)))

TypeError: can't multiply sequence by non-int of type 'str'

In [1]:
def multiply(n1,n2):
    return n1*n2

In [2]:
n1 = [1,2,3,4]
n2 = [10,20,30,40]
list(map(multiply,n1,n2))

[10, 40, 90, 160]

# Lambdas

A lambda function is a function without a name. 

syntax of lambda --> lambda arguments: expression

Lambda functions can have any number of arguments but only one expression. 
The expression is evaluated and returned. 
Lambda functions can be used wherever function objects are required.

In [96]:
numbers = [1,2,4]
result = map(lambda x: x*x, numbers)
print(result)

# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x106721d68>
{16, 1, 4}

In [4]:
# one more example 
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[9, 11, 13]

# Tuples

Tuple is a collection of items of any Python data type, same as the list type. Unlike the list, tuple is immutable.

The tuple object contains one or more items, of the same or different types, separated by comma and enclosed in parentheses ()

### Syntax -  tuple = (value1, value2, value3,...valueN)

In [98]:
names=("Jeff", "Bill", "Steve", "Mohan")

In [99]:
orderItem=(1, "Jeff", "Computer", 75.50, True)

In [100]:
# It is not necessary to enclose the Tuple in parenthesis
names = "Pranay","Snehal"
print(names)
print(type(names))

('Pranay', 'Snehal')
<class 'tuple'>

In [101]:
# Tuple indexing also starts with 0 , like List 
orderItem=(1, "Jeff", "Computer", 75.50, True)

print(orderItem[0])
print(orderItem[4])
print(orderItem[-1]) # backward indexing

1
True
True

In [102]:
# Tuple is immutable
orderItem[2]="Laptop"

TypeError: 'tuple' object does not support item assignment

# Set 

### A set is a collection of data types in Python, same as the list and tuple. However, it is not an ordered collection of objects. The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

A set object contains one or more items, not necessarily of the same type, which are separated by comma and enclosed in curly brackets {}.

### Syntax - set = {value1, value2, value3,...valueN}

In [103]:
# create a set
s1={1, "Bill", 75.50}
print(s1)
print(type(s1))

{'Bill', 1, 75.5}
<class 'set'>

In [104]:
# no duplicate items are allowed in the set 
s2 = {1,2,2,2,210,10}
print(s2)

{1, 2, 10, 210}

#### Python has an in-built function set(), using which a set object can be constructed out of any sequence such as a string, list or a tuple object.

In [105]:
s1=set("Python")
print(s1)

{'P', 'h', 'n', 't', 'y', 'o'}

#### Only immutable (and hashable) objects can be a part of a set object. Numbers (integer, float, as well as complex), strings, and tuple objects are accepted, but list and dictionary objects are not.

In [106]:
# this set contains tuples and numbers. this is allowed
S1={(10,10), 10,20}
print(S1)

# this is not allowed because it contains a list
S2={[10,10], 10,20}
print(S2)

{10, 20, (10, 10)}

TypeError: unhashable type: 'list'

In [107]:
# methods available in sets
s1 = {1,2,3,4}
s2 = {3,4,5,6}

# union
print("union :: " + str(s1.union(s2)))


# intersection
print("intersection :: " + str(s1.intersection(s2)))


# symmetric difference - excludes common elements in both sets and then does a union
print("symmetric difference :: " + str(s1.symmetric_difference(s2)))

union :: {1, 2, 3, 4, 5, 6}
intersection :: {3, 4}
symmetric difference :: {1, 2, 5, 6}

In [136]:
# more methods in sets
s1 = {1,2,3}
print(s1)

# add element to a set
s1.add("hello")
print(s1)

{1, 2, 3}
{1, 2, 3, 'hello'}

In [112]:
s1.update(["snehal","pranay",["mehta","damare"]])
print(s1) # cant add list as an element in the set

TypeError: unhashable type: 'list'

In [109]:
# add multiple elements using list or tuple
s1.update(["C", "Basic"])
print(s1)

# do this again using Tuple
s1.update(("Ruby", "PHP"))
print(s1)

{1, 2, 3, 'C', 'Basic', 'hello'}
{1, 2, 3, 'Ruby', 'PHP', 'C', 'Basic', 'hello'}

In [113]:
# discard or remove an item from a set 
s1.discard("PHP")
print(s1)

{'damare', 1, 2, 3, 'Ruby', 'pranay', 'mehta', 'C', 'Basic', 'snehal', 'hello'}

In [114]:
# remove returns error if the set doesnt contain the item, discard doesnt do anything
s1.remove("Python")

KeyError: 'Python'

# Dictionary

### Like List and Tuple, Dict is also a collection type. It consists of key:value pairs. Dict is not an ordered sequence

### Syntax - dict = { key1:value1, key2:value2,...keyN:valueN }

In [115]:
# create a sample dictionary
capitals={"USA":"Washington, D.C.", "France":"Paris", "India":"New Delhi"}

# A number, string or tuple can be used as key
numNames={1:"One", 2: "Two", 3:"Three"}
print(numNames)

# here a tuple is a key
items={("Parker","Reynolds","Camlin"):"pen",("LG","Whirlpool","Samsung"): "Refrigerator"}
print(items)

{1: 'One', 2: 'Two', 3: 'Three'}
{('Parker', 'Reynolds', 'Camlin'): 'pen', ('LG', 'Whirlpool', 'Samsung'): 'Refrigerator'}

In [59]:
# a dictionary with a list as a key is not valid, as the list is mutable
new_dict={["Mango","Banana"]:"Fruit", ["Blue", "Red"]:"Colour"}
print(new_dict)

TypeError: unhashable type: 'list'

In [60]:
# But, a list can be used as a value.
list_dict={"Fruit":["Mango","Banana"], "Colour":["Blue", "Red"]}
print(list_dict)

{'Fruit': ['Mango', 'Banana'], 'Colour': ['Blue', 'Red']}

#### Same key cannot appear more than once in a collection. If the key appears more than once, only the last will be retained. The value can be of any data type. One value can be assigned to more than one key

In [61]:
# John key appears twice. Only the last entry is retained
staff={"Krishna":"Officer", "Steve":"Manager", "John":"officer", "Anil":"Clerk", "John":"Manager"}
print(staff)

{'Krishna': 'Officer', 'Steve': 'Manager', 'John': 'Manager', 'Anil': 'Clerk'}

### Accessing a dictionary

Since this is not an ordered collection, we cannot access using indexes. We can use get() method to access an element by its KEY.

In [62]:
numbers={1:"one", 2:"Two", 3:"three",4:"four"}
print(numbers.get(2))

Two

### Looping over a dictionary

In [63]:
capitals={"USA":"Washington, D.C.", "France":"Paris", "Japan":"Tokyo", "India":"New Delhi"}

for key in capitals:
    print("Key = " + key + ", Value = " + capitals[key])

Key = USA, Value = Washington, D.C.
Key = France, Value = Paris
Key = Japan, Value = Tokyo
Key = India, Value = New Delhi

In [64]:
# print keys
capitals.keys()

dict_keys(['USA', 'France', 'Japan', 'India'])

In [66]:
# print values
capitals.values()

dict_values(['Washington, D.C.', 'Paris', 'Tokyo', 'New Delhi'])

### Updating a dictionary

In [68]:
# create a sample dictionary
captains={"England":"Root", "Australia":"Smith", "India":"Dhoni"}
print("before update : " + str(captains))

# update the dictionary using its key
captains['India']='Virat'

print("after update : " + str(captains))

before update : {'England': 'Root', 'Australia': 'Smith', 'India': 'Dhoni'}
after update : {'England': 'Root', 'Australia': 'Smith', 'India': 'Virat'}

In [69]:
# add 1 more key value pair to captains dictionary
captains['SouthAfrica']='Plessis'
print(captains)

{'England': 'Root', 'Australia': 'Smith', 'India': 'Virat', 'SouthAfrica': 'Plessis'}

In [73]:
# items() method returns a list of tuples(K,V)
print(captains.items())
print(type(captains.items()))

dict_items([('England', 'Root'), ('Australia', 'Smith'), ('India', 'Virat'), ('SouthAfrica', 'Plessis')])
<class 'dict_items'>

In [116]:
for k,v in captains.items():
    print(k,v)

England Root
Australia Smith
India Virat
SouthAfrica Plessis

In [117]:
x = 10
print(x)
print(id(x))

10
4357708112

In [118]:
y = 10
print(y)
print(id(y))

10
4357708112

In [119]:
x = x + 1
print(id(x))

4357708144

In [120]:
id(y)

4357708112

In [121]:
id(11)

4357708144

In [122]:
l = [1,2,3]
id(l)

4403283848

In [123]:
m = l
id(m)

4403283848

In [124]:
m.append(4)

In [125]:
id(m)

4403283848

In [126]:
m

[1, 2, 3, 4]

In [127]:
l

[1, 2, 3, 4]

In [128]:
id(l)

4403283848

In [129]:
id(m)

4403283848

In [130]:
t = "1","2"
id(t)

4400391176

In [131]:
m = t

In [132]:
id(m)

4400391176

In [133]:
s1 = "abc"
id(s1)

4359327280

In [134]:
s1 = 'a'
id(s1)

4359791928

In [135]:
s2 = "abc"
id(s2)

4359327280