In [1]:
astring = "Hello world!"

!dlrow olleH

In [14]:
astring[1:3] # start is inclusive and end is exclusive

'el'

In [15]:
# print every character in the string in reverse manner
print(astring[::-1])

!dlrow olleH

In [16]:
x = astring.split(" ")

In [8]:
x = x.reverse()

None

In [9]:
print(x)

['world!', 'Hello']

In [10]:
' '.join(x)

'world! Hello'

In [21]:
sentence = 'Python programming is fun.'

result = sentence.index('fun')
print("Substring 'is fun':", result)

Substring 'is fun': 22

In [4]:
word = 'laugh'    
string = 'This is laughing laugh'.split(" ")
index = string.index(word)
print(index)

3

In [27]:
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [28]:
# first occurence of word in a sentence
input_string = "this is a sentence"

# return the index of the word
matching_word = "is"

input_string.find("is")

In [29]:
# this will give the wrong value because first "is" occurs in the word "this"
input_string.index("is")

2

In [30]:
input_string.find("is")

2

In [5]:
di = {'a':1, 'b':2}

In [6]:
for k,v in di.items():
    print(k)
    print(v)

a
1
b
2

In [7]:
di['c'] = [1,2]

In [8]:
di

{'a': 1, 'b': 2, 'c': [1, 2]}

In [22]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [13]:
i = 20
while i > 10:
    print(i)
    i = i - 2

20
18
16
14
12

In [14]:
di['c'] = 1

In [15]:
di

{'a': 1, 'b': 2, 'c': 1}

In [17]:
di.get('d',0)

0

In [24]:
my_list = [10,20,30,40]
print(my_list)

[10, 20, 30, 40]

In [25]:
for el in my_list:
    print(el)

10
20
30
40

In [26]:
for i in range(len(my_list)):
    print(i)
    print(my_list[i])

0
10
1
20
2
30
3
40

In [27]:
if 40 in my_list:
    print("lol")

lol

In [29]:
tu = "pranay","snehal"
tu

('pranay', 'snehal')

In [32]:
for i in range(len(tu)):
    print(i)
    print(tu[i])

0
pranay
1
snehal