### tf idf example

In [1]:
def tokens(x):
    return x.split(',')

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect= TfidfVectorizer( tokenizer=tokens ,use_idf=True, smooth_idf=True, sublinear_tf=False)

In [6]:
a=['cat on the,angel eyes has,blue red angel,one two blue,blue whales eat,hot tin roof']

x= tfidf_vect.fit_transform(a)

In [5]:
tfidf_vect.get_feature_names()

['angel eyes has',
 'blue red angel',
 'blue whales eat',
 'cat on the',
 'hot tin roof',
 'one two blue']

In [8]:
x.data

array([0.40824829, 0.40824829, 0.40824829, 0.40824829, 0.40824829,
       0.40824829])

In [9]:
# list of text documents
text = ["The quick brown fox jumped over the lazy dog.","The dog.","The fox"]

# create the transform
vectorizer = TfidfVectorizer()

# tokenize and build vocab
vectorizer.fit(text)
# summarize

print(vectorizer.vocabulary_)
print(vectorizer.idf_)
# encode document
vector = vectorizer.transform([text[0]])
# summarize encoded vector
print(vector.shape)
print(vector.toarray())

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]
(1, 8)
[[0.36388646 0.27674503 0.27674503 0.36388646 0.36388646 0.36388646
  0.36388646 0.42983441]]

In [10]:
import pandas as pd

In [34]:
text = ["The,quick,brown,fox,jumped,over,the,lazy,dog","The,dog,is,very,annoying,indeed","The,fox,okay,i,cannot,say,much,about"]
X = pd.DataFrame(text, columns=['my_txt'])

In [35]:
X

                                         my_txt
0  The,quick,brown,fox,jumped,over,the,lazy,dog
1               The,dog,is,very,annoying,indeed
2          The,fox,okay,i,cannot,say,much,about

In [15]:
?TfidfVectorizer

In [36]:
tfidf_vect= TfidfVectorizer( tokenizer=tokens ,use_idf=True, smooth_idf=True, sublinear_tf=False)

In [37]:
y = tfidf_vect.fit_transform(X.my_txt)

In [38]:
type(y)

scipy.sparse.csr.csr_matrix

In [39]:
y

<3x18 sparse matrix of type '<class 'numpy.float64'>'
	with 22 stored elements in Compressed Sparse Row format>

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(tokenizer= tokens, use_idf=True)
x = v.fit_transform(X['my_txt'])

In [41]:
x.toarray()

array([[0.        , 0.        , 0.36388646, 0.        , 0.27674503,
        0.27674503, 0.        , 0.        , 0.        , 0.36388646,
        0.36388646, 0.        , 0.        , 0.36388646, 0.36388646,
        0.        , 0.42983441, 0.        ],
       [0.        , 0.45050407, 0.        , 0.        , 0.34261996,
        0.        , 0.        , 0.45050407, 0.45050407, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.26607496, 0.45050407],
       [0.37994462, 0.        , 0.        , 0.37994462, 0.        ,
        0.28895767, 0.37994462, 0.        , 0.        , 0.        ,
        0.        , 0.37994462, 0.37994462, 0.        , 0.        ,
        0.37994462, 0.22440141, 0.        ]])

In [42]:
v.get_feature_names()

['about',
 'annoying',
 'brown',
 'cannot',
 'dog',
 'fox',
 'i',
 'indeed',
 'is',
 'jumped',
 'lazy',
 'much',
 'okay',
 'over',
 'quick',
 'say',
 'the',
 'very']

In [43]:
len(v.get_feature_names())

18

In [44]:
y = pd.DataFrame( x.toarray(), columns = v.get_feature_names())
y.head()

,about,annoying,brown,cannot,dog,fox,i,indeed,is,jumped,lazy,much,okay,over,quick,say,the,very
0,0.000000,0.000000,0.363886,0.000000,0.276745,0.276745,0.000000,0.000000,0.000000,0.363886,0.363886,0.000000,0.000000,0.363886,0.363886,0.000000,0.429834,0.000000
1,0.000000,0.450504,0.000000,0.000000,0.342620,0.000000,0.000000,0.450504,0.450504,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.266075,0.450504
2,0.379945,0.000000,0.000000,0.379945,0.000000,0.288958,0.379945,0.000000,0.000000,0.000000,0.000000,0.379945,0.379945,0.000000,0.000000,0.379945,0.224401,0.000000

In [45]:
new_text = ['hello,there', 'fox,i']
new_set = pd.DataFrame(new_text, columns = ['new_txt'])

In [46]:
new_set.head()

       new_txt
0  hello,there
1        fox,i

In [47]:
y_hat = pd.DataFrame( v.transform(new_set['new_txt']).toarray(), columns = v.get_feature_names())
y_hat.head()

,about,annoying,brown,cannot,dog,fox,i,indeed,is,jumped,lazy,much,okay,over,quick,say,the,very
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.605349,0.795961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0